<h1 >Adicionar Nova Raça</h1>
<a routerLink="/races" style="float:right; cursor: pointer;"><i class="flaticon2-back" ></i></a>       
<br>
<hr>

<br>
<br>
<div class="row">
    <div  class="col-sm-2">  
    </div>
    <div class="col-sm-8">      
    
    <!-- INPUT DE NAME -->

    <div class="form-group input-group row ">
        <label for="name" class="col-sm-3"> <b> Nome:  </b></label>
        <input [(ngModel)]="name" type="text" id="name"  class="form-control col-sm-9" >
        
        
    </div>
    
    <!-- INPUT DE DESCRIPTIONS -->

    <div class="form-group input-group row">
        <label for="descriptionInput" class="col-sm-3"> <b> Descrição : </b></label>
        <input [(ngModel)]="description" type="text" id="descriptionInput"  class="form-control col-sm-9"  >      
    </div>
        
    <!-- INPUT DE RESTRICTIONS -->
    <div class="form-group input-group row">
        <div class="col-sm-3">
            <label for="restrictions" class="col-sm-2"> <b>  Restrições:  </b></label>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let restric of restrictions">
                    <span class="col-sm-7">  {{restric}}</span>
                    <button class="btn-secondary col-sm-2" (click)=removeRestriction(restric)> remover </button>
                    <br>                
            </div>
        </div>
    </div>

    
    


    <div class="form-group input-group row">
            <span class="col-sm-3"></span>
        
            <input [(ngModel)]="restriction" placeholder="Nome da restricao" type="text" class="form-control col-sm-9" id="restriction" placeholder="" aria-label="Adcionar restrição" aria-describedby="restrictionAddBut">
        
            <div class="input-group-prepend">
                    <button (click)="addRestriction()" class="btn btn-outline-primary" type="button" id="restrictionAddBut">Adicionar</button>
            </div>
    </div>



    <!-- INPUT DE EXCLUSIVESKILLS -->
    <div class="form-group input-group row">
        <div class="col-sm-3">
            <label for="exclusiveSkill" > <b>  Habilidades Exclusivas :  </b></label>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let element of exclusiveSkills" style="padding-bottom: 5px;">
                <span class="col-sm-7"> {{element}}</span>
                <button class="btn-secondary col-sm-2" (click)=removeExclusiveSkill(element)> remover </button>
                <br>          
            </div>
        </div>
    </div>

    



    <div class="form-group input-group row">
        <span class="col-sm-3"></span>
        
        <input [(ngModel)]="exclusiveSkill" placeholder="Nome da skill exclusiva" type="text" class="form-control col-sm-9" id="exclusiveSkill" placeholder="" aria-label="Adcionar skill exclusiva" aria-describedby="exclusiveSkillAddBut">
    
        <div class="input-group-prepend">
                <button (click)="addExclusiveSkill()" class="btn btn-outline-primary" type="button" id="exclusiveSkillAddBut">Adicionar</button>
        </div>
    </div>

    <!-- BOTAO DE SUBMIT -->

    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
        <button (click)="onSubmit()" type="submit" style="width: 100%" class="btn btn-primary">Enviar</button>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
  
        
    </div >
    <div class="col-sm-2">
    </div>
</div>