<h1 >Adicionar Nova Raça</h1>
<a routerLink="/races" style="float:right; cursor: pointer;"><i class="flaticon2-back" ></i></a>       
<br>
<hr>

<br>
<br>
<div class="row">
    <div  class="col-sm-2">  
    </div>
    <div class="col-sm-8">      
    
    <!-- INPUT DE NAME -->

    <div class="form-group input-group row ">
        <label for="name" class="col-sm-3"> <b> Nome:  </b></label>
        <input [(ngModel)]="name" type="text" id="name"  class="form-control col-sm-9" >
        
        
    </div>
    
    <!-- INPUT DE DESCRIPTIONS -->

    <div class="form-group input-group row">
        <label for="descriptionInput" class="col-sm-3"> <b> Descrição : </b></label>
        <input [(ngModel)]="description" type="text" id="descriptionInput"  class="form-control col-sm-9"  >      
    </div>
        
    <!-- INPUT DE RESTRICTIONS -->


    <div class="form-group input-group row">
            <div class="col-sm-3">
                <label for="skill_names"> <b>  Restrições :  </b></label>
            </div>
            <div class="col-sm-9">
                <div *ngFor="let skill_name of rskill_names">
                        <br><span class="col-sm-7">  {{ skill_name }}  </span>
                        <button class="btn-secondary col-sm-2" (click)=removeRSkill(skill_name)> remover </button>
                        <br>                
                </div>
            </div>
        </div>
    
        <div class="form-group input-group row">
                <span class="col-sm-3">
    
                </span>
            
                <div class="form-group col-sm-8" >
                        <select ngModel name="option" class="form-control" id="selectAction" (change) = "selectorRSkill(rest.value)" #rest>
                            
    
                            <option *ngFor="let op of skillList" [value]="op._id.$oid">
                                {{ op["name"] }}
                            </option>
                        </select>
                </div>
                
    
                <div class="input-group-prepend col-sm-1">
                        <button (click)="addRSkill()" class="btn btn-outline-primary" type="button" id="addRSkill">Adicionar</button>
                </div>
        </div>



    <!-- INPUT DE EXCLUSIVESKILLS -->
    <div class="form-group input-group row">
        <div class="col-sm-3">
            <label for="skill_names"> <b>  Skills Exclusivas :  </b></label>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let skill_name of eskill_names">
                    <br><span class="col-sm-7">  {{ skill_name }}  </span>
                    <button class="btn-secondary col-sm-2" (click)=removeESkill(skill_name)> remover </button>
                    <br>                
            </div>
        </div>
    </div>

    <div class="form-group input-group row">
            <span class="col-sm-3">

            </span>
        
            <div class="form-group col-sm-8" >
                    <select ngModel name="option" class="form-control" id="selectAction" (change) = "selectorESkill(t.value)" #t>
                        

                        <option *ngFor="let op of skillList" [value]="op._id.$oid">
                            {{ op["name"] }}
                        </option>
                    </select>
            </div>
            

            <div class="input-group-prepend col-sm-1">
                    <button (click)="addESkill()" class="btn btn-outline-primary" type="button" id="addESkill">Adicionar</button>
            </div>
    </div>

    <!-- BOTAO DE SUBMIT -->

    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
        <button (click)="onSubmit()" type="submit" style="width: 100%" class="btn btn-primary">Enviar</button>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
  
        
    </div >
    <div class="col-sm-2">
    </div>
</div>