<h1>Raças</h1>
<hr>
<br>
<br>

<div class="col-sm-9">
    

    <button class="btn btn-primary" style="float:right" routerLink="/races/new">Criar nova raça</button>
    <br>
    <br>
    <br>
    <i class="kt-spinner kt-spinner--v2 kt-spinner--lg kt-spinner--dark race_spiner"  *ngIf="loading"></i>

    <div *ngFor="let element of racesList;index as i" style="padding-bottom: 5px;">
        
        <div class="card">
            <div class="card-body">
              <div class="row">
                
                <div class="col-sm-9">
                  <b>Nome :  </b>{{element["name"]}}
                  <br>
                  <b>Descrição :  </b>{{element["description"]}}
                  <br>
                  <b>Restrições :  </b>
                  <div *ngFor="let r of element.restrictions">
                    <ul>
                      <li>{{ r }}</li>
                    </ul>
                  </div>
                </div>

                <div class="col-sm-3">
                  <br>
                  <a class="btn btn-circle btn-warning" style="padding: 5px;" [routerLink]="['/races/edit', element._id.$oid]"> Editar </a>    
                  <button class="btn btn-circle btn-danger" style="padding: 5px;" (click)="deleteRace(element._id.$oid, i)"> Deletar </button>
                </div>
              </div>
              
            </div>
        </div>
        
        <br>          
    </div>
</div>
  