<h1 >Criar Nova Campanha</h1>
<a routerLink="/campaigns" style="float:right; cursor: pointer;"><i class="flaticon2-back" ></i></a>       
<br>
<hr>

<br>
<br>
<div class="row">
    <div  class="col-sm-2">  
    </div>
    <div class="col-sm-8">      
    
    <!-- INPUT DE NAME -->

    <div class="form-group input-group row ">
        <label for="name" class="col-sm-3"> <b> Nome:  </b></label>
        <input [(ngModel)]="name" type="text" id="name"  class="form-control col-sm-9" >
    </div>
    
    <!-- INPUT DE NPCs -->

    <div class="form-group input-group row">
            <div class="col-sm-3">
                <label for="characters_names"> <b>  NPCs:  </b></label>
            </div>
            <div class="col-sm-9">
                <div *ngFor="let name of characters_names">
                        <br><span class="col-sm-7">  {{ name }}  </span>
                        <button class="btn-secondary col-sm-2" (click)=removeCharacter(name)> remover </button>
                        <br>                
                </div>
            </div>
        </div>
    
        <div class="form-group input-group row">
                <span class="col-sm-3">
  
                </span>
            
                <div class="form-group col-sm-8" >
                        <select ngModel name="option" class="form-control" id="selectAction" (change) = "selectorCharacter(t.value)" #t>
                            
    
                            <option *ngFor="let op of charactersList" [value]="op._id.$oid">
                                {{ op["name"] }}
                            </option>
                        </select>
                </div>
                
    
                <div class="input-group-prepend col-sm-1">
                        <button (click)="addCharacter()" class="btn btn-outline-primary" type="button" id="addCharacter">Adicionar</button>
                </div>
        </div>


    


    <!-- BOTAO DE SUBMIT -->

    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
        <button (click)="onSubmit()" type="submit" style="width: 100%" class="btn btn-primary">Enviar</button>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
  
        
    </div >
    <div class="col-sm-2">
    </div>
</div>