<h1>Skills</h1>
<hr>
<br>
<br>

<div class="col-sm-12">
    

    <button class="btn btn-primary" style="float:right" routerLink="/skills/new">Criar nova skill</button>
    <br>
    <br>
    <br>
    <i class="kt-spinner kt-spinner--v2 kt-spinner--lg kt-spinner--dark race_spiner"  *ngIf="loading"></i>

    <div *ngFor="let element of skillList;index as i" style="padding-bottom: 5px;">
        
        <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                    <b>Nome :  </b>{{element["name"]}}
                    <br>
                    <b>Descrição :  </b>{{element["description"]}}
                    <br>
                    <b>Bonus de Ataque :  </b>{{element["description"]}}
                    <br>
                    <b>Multiplicador de Defesa :  </b>{{element["defense_multiplier"]}}
                    <br>
                    <b>Multiplicador de Ataque :  </b>{{element["attack_multiplier"]}}
                    <br>

                </div>
                <div class="col-sm-5">
                  
                  <b>Dados de Atacaque :  </b>
                  <div *ngFor="let r of element.attack_dices">
                    <ul>
                      <li>{{ r }}</li>
                    </ul>
                  </div>
                  <br>

                  <b>Depende das skills :  </b>
                  <div *ngFor="let r of element.depends_on_skills">
                    <ul>
                      <li>{{ r["name"] }}</li>
                    </ul>
                  </div>
                </div>

                <div class="col-sm-3 row">
                  <br>  
                  <div class="col-sm-6">
                    <button class="btn btn-circle btn-warning" style="padding: 5px;" [routerLink]="['/skills/edit', element._id.$oid]"> Editar </button>    
                  </div>  
                  <div class="col-sm-6">
                    <button class="btn btn-circle btn-danger" style="padding: 5px;" (click)="deleteSkills(element._id.$oid, i)"> Deletar </button>
                  </div>
                </div>
              </div>
              
            </div>
        </div>
        
        <br>          
    </div>
</div>